
/****************************************/
/*   Project:							*/
/*   Date: ENE/11/10					*/
/*   Customer: CPI 							*/
/*										*/
/*   Company: Desarrollos Web			*/
/*	 URL: www.desarrollosweb.com		*/
/*   Author: René Gallardo				*/
/*	Description: deweb CSS				*/
/****************************************/

TABLE.clean {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

TR.dw_titulocolumna, TR.dw_ligas {
   font-size: 8pt;
   padding-bottom: 2px;
   margin-top: 2px;
   margin-right: 0pt;
   margin-bottom: 2px;
   margin-left: 0pt;
   background-image: url(../resources/images/fondo_gris.gif);
}

TD.dw_columnadatoTotal {
	font-size: 11px;
	font-weight:bold;
	color:#003366;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #003366;
	background-color: #80A5E7;
}

TR.dw_ligas{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-align: center;
}

TD.chsb {
	cursor: pointer;
	font-weight: bold;
}

TD.cleanCell{
	background: #FFFFFF;
}

div.frame, div.frame_hs {
	position: relative;
	visibility: visible;
	width: 950px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

div.frame {
	height: 430px;
	overflow-x:scroll;
	overflow-y:scroll; 
}

div.frame_hs{
	overflow-x:scroll; 
}

td.cb_titulocolumna{
   padding: 1px 0 2px 2px;
   font-size: 8pt;
   background-image: url(../resources/images/fondo_gris.gif);
}

td.dw_etiqueta_campo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #FFFFFF;
	color:#003366;
	font-weight: bold;
}

td.cellBorder {
	border: 1px solid #CCCCC0;
}

td.topDblBorder {
	border-top: 3px double #000000;
}

td.bottomSglBorder {
	border-bottom: 1px solid black;
}

td.blueBg{
	background-color: #00bfff;
}
